<h1>Pix Keys</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Key</th>
      <th>Hotel</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pix_keys.each do |pix_key| %>
      <tr>
        <td><%= pix_key.key %></td>
        <td><%= pix_key.hotel.title %></td>
        <td>
          <div class="btn-group">
            <%= link_to "Edit", edit_pix_key_path(pix_key), class: "btn btn-warning" %>
            <%= button_to "Destroy", pix_key_path(pix_key), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Pix Key", new_pix_key_path, class: "btn btn-primary" %>
