<%= stylesheet_link_tag 'hotelList', media: 'all' %>

<div class="card mb-3 p-2 border-2">
          <div class="row no-gutters">
            <div class="col-md-5">
                <%= render(partial: '/shared/carousel', locals: { images: hotel.images , identifier: "carousel#{idCard}", style:'width: 23rem; height:15rem;' }) %>
            </div>
            
            <div class="card-body col-md-5">
            <div class="row no-gutters">
              <div class="col-md-6">
                  <%= link_to hotel, class:"card-title" do %>  
                  <h4>
                    <%= hotel.title %>
                  </h4>
                  <% end %>
                  <p class="card-subtitle text-muted ">
                    <%= hotel.hotel_type.name %>
                  </p>
                  <span class="card-subtitle mb-4 text-muted fs-5">
                    <%= hotel.get_location.country.name %>
                  </span>
                  <p class="card-subtitle mb-4 text-muted">
                    <%= hotel.get_location.city.name %> 
                    <%= hotel.get_location.state.name %>
                  </p>
                  <p class="card-text"><%= hotel.establishment_description %></p>
              </div>
            
              <div class="col-md-2 justify-content-center align-items-center">
                <button class="btn"><i class="bi bi-bookmark-heart"></i></button>
                <span class="btn mt-4 btn-primary"><%= hotel.evaluation %> <%= evaluation_description(hotel.evaluation) %></span>
              </div>
            </div>
            </div>
          </div>
        </div>


<script>
  const countCarousels = <%= @hotels.size %>;

    for (let i = 0; i < countCarousels; i++) {
      const carouselId = `#carousel${i}`;

      $(carouselId).carousel(
      { 
        pause: true,
        interval: false
      });

      $(carouselId).on('click', '.carousel-control-next', function() {
        $(carouselId).carousel('next');
      });

      $(carouselId).on('click', '.carousel-control-prev', function() {
        $(carouselId).carousel('prev');
      });
    }
</script>