
      <span>
        <h1>Filtro</h1>
      </span>
       <%= form_with(url: hotels_path, method: :get, class:"d-flex flex-md-column") do |form| %>
        <div class="mt-3">
          <p>Pais:</p>
          <%= form.select(:country_id, Country.all.collect { |c| [c.name, c.id] }, { include_blank: "Pais" }, class: "form-select mt-3", id: "country-select") %>
        </div>
        <div class="mt-3">
          <p>Estado:</p>
          <%= form.select(:state_id, [], { include_blank: "Estado" }, class: "form-select mt-3", id: "state-select") %>
        </div>
        <div class="mt-3">
            <p>Cidade:</p>
          <%= form.select(:city_id, [], { include_blank: "Cidade" }, class: "form-select mt-3", id: "city-select") %>
        </div>
        <div class="mt-3">
          <p>Avaliação:</p>

          <%= form.range_field(:evaluation, in: 0.0..10.0, step: 1, class: "form-range mt-3", id: "evaluation-range") %>
        </div>
        <%= form.submit "Buscar", class:"btn btn-primary mt-5" %>
      <% end %>



<script>
function fetchData(url, params, callback) {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE) {
      if (xhr.status === 200) {
        var data = JSON.parse(xhr.responseText);
        callback(data);
      } else {
        console.error('Erro ao buscar dados:', xhr.status);
      }
    }
  };

  var queryString = Object.keys(params).map(key => key + '=' + params[key]).join('&');
  xhr.open('GET', url + '?' + queryString);
  xhr.send();
}

document.addEventListener('DOMContentLoaded', function() {
  document.getElementById('country-select').addEventListener('change', function() {
    var countryId = this.value;
    var stateSelect = document.getElementById('state-select');
    var citySelect = document.getElementById('city-select');
    
    if (countryId === '') {
      // Clear state and city options
      stateSelect.innerHTML = '<option value=""></option>';
      citySelect.innerHTML = '<option value=""></option>';
    } else {
      fetchData('/filter/get_states', { country_id: countryId }, function(data) {
        stateSelect.innerHTML = '<option value=""></option>';
        citySelect.innerHTML = '<option value=""></option>';

        data.states.forEach(function(state) {
          var option = document.createElement('option');
          option.value = state.id;
          option.textContent = state.name;
          stateSelect.appendChild(option);
        });
      });
    }
  });

  document.getElementById('state-select').addEventListener('change', function() {
    var citySelect = document.getElementById('city-select');
    var stateId = this.value;
    
    if (stateId === '') {
      citySelect.innerHTML = '<option value=""></option>';
      return;
    }

    fetchData('/filter/get_cities', { state_id: stateId }, function(data) {
      citySelect.innerHTML = '<option value=""></option>';

      data.cities.forEach(function(city) {
        var option = document.createElement('option');
        option.value = city.id;
        option.textContent = city.name;
        citySelect.appendChild(option);
      });
    });
  });
});

</script>

    