<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

<%= stylesheet_link_tag 'hotelList', media: 'all' %>

<div class="container justify-content-center align-items-center">
  <div class="row">
    <div class="col-lg-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Filtrar por</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
     <span>
    <h1>Hotels</h1>
  </span>
      <% @hotels.each_with_index do |hotel, idCard| %>
        <div class="card mb-3 p-2">
          <div class="row no-gutters">
            <div class="col-md-5">
              <%= carousel_for(hotel.image_urls, "carousel#{idCard}") %>
            </div>
            
            <div class="card-body col-md-5">
            <div class="row no-gutters">
              <div class="col-md-6">
                  <h4 class="card-title">
                    <%= hotel.title %>
                  </h4>
                  <span class="card-subtitle mb-4 text-muted">
                    <%= hotel.get_location.city.name %> 
                    <%= hotel.get_location.state.name %>
                  </span>
                  <p class="card-text"><%= hotel.establishment_description %></p>
              </div>
            
              <div class="col-md-2 justify-content-center align-items-center">
                <button class="btn"><i class="bi bi-bookmark-heart"></i></button>
                <span class="btn mt-4 btn-primary"><%= hotel.evaluation %> <%= evaluation_description(hotel.evaluation) %></span>
              </div>
            </div>
            </div>
          </div>
        </div>
      <% end %>
      <div role="navigation" aria-label="Pagination" class="apple_pagination">
        <div class="page_info">
          <%= will_paginate(@hotels) %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const countCarousels = <%= @hotels.size %>;

    for (let i = 0; i < countCarousels; i++) {
      const carouselId = `#carousel${i}`;

      $(carouselId).carousel({ interval: 4000 });

      $(carouselId).on('click', '.carousel-control-next', function() {
        $(carouselId).carousel('next');
      });

      $(carouselId).on('click', '.carousel-control-prev', function() {
        $(carouselId).carousel('prev');
      });
    }
</script>