<div class="container justify-content-center align-items-center">
  

  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 mt-3">
      <span>
        <h1>
          <%= link_to("", "javascript:history.back()", class:"bi bi-arrow-left btn btn-dark") %>
          <%= @hotel.title %>
        </h1>
      </span>
          <%= link_to("Adicionar Opção de Quarto", new_room_option_path(hotel_id: @hotel.id)) %>
        <%= render partial: 'hotel_details', locals: { hotel: @hotel } %>

        <%= form_with(url: hotel_reservations_path, method: "post") do |form| %>
          <%= form.label :check_in %>
          <%= form.date_field :check_in, min: Date.current %>
          <%= form.label :check_out %>
          <%= form.date_field :check_out, min: Date.current %>


          <%= form.hidden_field :user_id, value:  current_user.present? ? current_user.id : nil %>
          <%= form.hidden_field :room_id, value: 1 %>
          <%= form.number_field :adults_quantity %>
          <%= form.number_field :children_quantity %>
          <%= form.submit "Reservar ja!" %>
        <% end %>

        <%= form_with url: "/payments/create", method: "post", class:"d-flex justify-content-end" do |form| %>
                  <%= form.hidden_field :qnt_cob, value: 0.01 %>
                  <%= form.hidden_field :id_user, value: current_user.present? ? current_user.id : nil %>
                  <%= form.hidden_field :id_hotel, value: @hotel.id %>
                  <%= form.submit "Enviar Pagamento", class:"btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>