<div class="container justify-content-center align-items-center">
  

  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 mt-3">
      <span>
        <h1>
          <%= link_to("", "javascript:history.back()", class:"bi bi-arrow-left btn btn-dark") %>
          <%= @hotel.title %>
        </h1>
      </span>
        <% if current_user.present? %>
          <% if  current_user.id == @hotel.user.id %>
            <%= link_to("Adicionar Opção de Quarto", new_room_option_path(hotel_id: @hotel.id)) %>
            <%= link_to("Adicionar Chave Pix", new_pix_key_path(hotel_id: @hotel.id)) %>
            <%= link_to("Listar chaves pix", pix_key_path) %>
          <% end %>
        
        <% else %>
          <span></span>
        <% end %>

        <%= render partial: 'hotel_details', locals: { hotel: @hotel } %>
        <p id="price_per_day_banner"> </p>

        <%= form_with url: "/payments/create", method: "post", class:"form" do |form| %>
          <input type="hidden" id="disableDates" /> 

          <div class="row">
          
            <div class="col-md-6">
            <%= form.label :check_in %>
              <%= form.text_field :check_in, id:"check_in", class:"form-control border rounded-pill" %>
            </div>
            
            <div class="col-md-6">
            <%= form.label :check_out %>
              <%= form.text_field :check_out, id:"check_out", class:"form-control border rounded-pill"  %>
            </div> 

          </div>
          
          <div class="row mt-3">
            <%= form.label :room_option %>
            <%= form.select(:room_option_id, RoomOption.all.where(hotel_id: @hotel.id).collect { |ro|  [ro.title, ro.id] },{},  id: "room_option_id", class:"form-select border rounded-pill")  %> 
          </div>

          
          <div class="row mt-3">
            <%= form.hidden_field :user_id, value:  current_user.present? ? current_user.id : nil %>
            
            <div class="col-sm-5">
              <%= form.label :adults_quantity %>
              <%= form.number_field :adults_quantity, min: 0, class:"mt-3 form-control" %>
            </div>

            <div class="col-sm-5">
              <%= form.label :children_quantity %>
              <%= form.number_field :children_quantity, min: 0, class:"mt-3 form-control" %>
            </div>
          </div>
          
                  <%= form.hidden_field :pix_key, value: @hotel.pix_key.present? ? @hotel.pix_key.key : nil %>
                  <%= form.hidden_field :id_user, value: current_user.present? ? current_user.id : nil %>
                  <%= form.hidden_field :id_hotel, value: @hotel.id %>
                  <%= form.submit "Enviar Pagamento", class:"btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    function fetchData(url, params, callback) {
       var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
              var data = JSON.parse(xhr.responseText);
              callback(data);
            } else {
              console.error('Erro ao buscar dados:', xhr.status);
            }
          }
        };

        var queryString = Object.keys(params).map(key => key + '=' + params[key]).join('&');
        xhr.open('GET', url + '?' + queryString);
        xhr.send();
    }

    function initializeDatepicker(disabledDates) {
      

      $("#check_in").datepicker({
        dateFormat: 'yy-mm-dd',
        minDate: new Date().toISOString().slice(0, -14),
        beforeShowDay: function(date) {
          console.log(disabledDates)
          var formattedDate = $.datepicker.formatDate('yy-mm-dd', date);
          
          return [disabledDates.indexOf(formattedDate) === -1];
        },
        onSelect: function(dateText) {
          if (disabledDates.includes(dateText)) {
            alert('Esta data está desativada.');
            $(this).val('');
          }
        }
      });
        $("#check_out").datepicker({
          dateFormat: 'yy-mm-dd',
          minDate: new Date(new Date().getTime() + 86400000).toISOString().slice(0, -14),
          beforeShowDay: function(date) {
            var formattedDate = $.datepicker.formatDate('yy-mm-dd', date);
              
            return [disabledDates.indexOf(formattedDate) === -1];
            
          },
          onSelect: function(dateText) {
            if (disabledDates.includes(dateText)) {
              alert('Esta data está desativada.');
              $(this).val('');
            }
          }
        });
       

      
    }

    function updateDatepickers(selectedOptionId) {
      fetchData('/room_status/get_room_option_dates_disabled', { id: selectedOptionId }, function(res) {
        var disabledDates = res
        $("#disableDates").val(res);
        $("#check_in, #check_out").datepicker("destroy");
        initializeDatepicker(disabledDates);
      });
    }

    // Inicialização dos datepickers na página carregada
    var selectedRoomOptionId = $("#room_option_id").val();

    fetchData('/room_status/get_room_option', { id: selectedRoomOptionId }, function(res) {
      $("#price_per_day_banner").text(res.price_per_day);
    });

    fetchData('/room_status/get_room_option_dates_disabled', { id: selectedRoomOptionId }, function(res) {
      var disabledDates = res
      $("#disableDates").val(res);
      initializeDatepicker(disabledDates);
    });

    // Evento de mudança na seleção de opção de quarto
    $("#room_option_id").on("change", function() {
      var selectedOptionId = $(this).val();

      fetchData('/room_status/get_room_option', { id: selectedOptionId }, function(res) {
        $("#price_per_day_banner").text(res.price_per_day);
      });
        // Atualização dos datepickers após a mudança na seleção
         updateDatepickers(selectedOptionId);
      
    });
  });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>